.sampleCertificateContainer{
    display: flex;
    gap:4%;
    padding:1%;
    color: "#1F2937";
}
.canvasContainer{
    width: 65%;
}
.sampleCertificateRightBox{
 width: 30%;
}
.sampleCertificateAddButton{
    text-align: center;
    margin-bottom: 20px;
}
.selectedShapeDiv{
    display: flex;
    justify-content: space-between;
    gap:15%
}
.TwoFormItemsDiv{
    display: flex;
    justify-content: space-between;
    gap:2%
}